<!-- # <% 30.times do %>
# 	<div class="col-sm-6 col-md-4">
# 		<div class="thumbnail thumb-box test-image">
# 		<div class="thumb-box">
# 			<%= image_tag(src: '/tattoo.jpg') %>
# 		</div>
# 		</div>
# 	</div>
# <% end %> -->
